body{
      background-color: white;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

button {
    padding: 9px 16px;
    background-color: rgba(20, 45, 124, 0.664);
    color: white;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 5px;
}

